﻿
<div id="sidetoggle">
  <div>
    <div class="sidefilter">
      <form class="toc-filter">
        <span class="glyphicon glyphicon-filter filter-icon"></span>
        <span class="glyphicon glyphicon-remove clear-icon" id="toc_filter_clear"></span>
        <input type="text" id="toc_filter_input" placeholder="Enter here to filter..." onkeypress="if(event.keyCode==13) {return false;}">
      </form>
    </div>
    <div class="sidetoc">
      <div class="toc" id="toc">
          
          <ul class="nav level1">
                <li>
                    <a href="classes/Algorithms.html" name="classes/toc.html" title="Classes">Classes</a>
                </li>
                <li>
                    <a href="uml/diagram.html" name="uml/toc.html" title="Application's Model">Application's Model</a>
                </li>
          </ul>
      </div>
    </div>
  </div>
</div>