﻿
<div id="sidetoggle">
  <div>
    <div class="sidefilter">
      <form class="toc-filter">
        <span class="glyphicon glyphicon-filter filter-icon"></span>
        <span class="glyphicon glyphicon-remove clear-icon" id="toc_filter_clear"></span>
        <input type="text" id="toc_filter_input" placeholder="Enter here to filter..." onkeypress="if(event.keyCode==13) {return false;}">
      </form>
    </div>
    <div class="sidetoc">
      <div class="toc" id="toc">
          
          <ul class="nav level1">
                <li>
                    <span class="expand-stub"></span>
                    <a href="Algorithms.html" name="" title="Algorithms">Algorithms</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="Algorithms.Recognizer.html" name="" title="Recognizer">Recognizer</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="Global.html" name="" title="Global">Global</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="Global.BoardController.html" name="" title="BoardController">BoardController</a>
                          </li>
                          <li>
                              <a href="Global.Brush.html" name="" title="Brush">Brush</a>
                          </li>
                          <li>
                              <a href="Global.Display.html" name="" title="Display">Display</a>
                          </li>
                          <li>
                              <a href="Global.Drawing.html" name="" title="Drawing">Drawing</a>
                          </li>
                          <li>
                              <a href="Global.GestureRecognizer.html" name="" title="GestureRecognizer">GestureRecognizer</a>
                          </li>
                          <li>
                              <a href="Global.ListTooSmallException.html" name="" title="ListTooSmallException">ListTooSmallException</a>
                          </li>
                          <li>
                              <a href="Global.MissingFileException.html" name="" title="MissingFileException">MissingFileException</a>
                          </li>
                          <li>
                              <a href="Global.MissingFolderException.html" name="" title="MissingFolderException">MissingFolderException</a>
                          </li>
                          <li>
                              <a href="Global.SceneController.html" name="" title="SceneController">SceneController</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="TestRecognizer.html" name="" title="TestRecognizer">TestRecognizer</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="TestRecognizer.RecognizerTestSuite.html" name="" title="RecognizerTestSuite">RecognizerTestSuite</a>
                          </li>
                    </ul>
                </li>
          </ul>
      </div>
    </div>
  </div>
</div>